@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

div.error {
  background-color: red;
  color: white;
  margin: auto;
  font-weight: bold !important;
  padding: 10px;
  text-align: center;
}
